@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .piramida {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid red;
        transform: rotateX(45deg);
      }
}